	body {	
    	padding: 0;
    	margin: 0;
    	box-sizing: border-box;
    	background-image: url('/asserts/bgimage.jpg');
    	height: 100vh;
    	width: 100%;
    	background-repeat: no-repeat;
    	background-size: cover;
}
	
	
	a{
			padding: 1rem;
			color:black;
			text-decoration: none;	
			background-color: gray;
			border-radius: 10px;}
		a:hover{
			background-color: darkgray;
			
		}
		.abc{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 35%;width: 50%;
			row-gap: 3rem; 
		    backdrop-filter:blur(15px);
			border-radius: 15px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

		}	
		/*.abcd{
			display: flex;
			flex-direction: column;
			padding: 2rem;
			backdrop-filter: blur(10px);
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
			align-items: center;
			justify-content: center;
			margin-top:6rem;
		}
		
		.abcd{
			width: 50%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 4rem, auto;
			grid-gap: 1rem;
			grid-template-areas: 
			 		"heading"
			 		"btn1" "btn2"
			 		;
		}
		
		.btn1{
			grid-area: btn1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.btn2{
			grid-area: btn1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		*/
.heading{
	margin-left: 1rem;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	color: white;
	font-weight: 900;
}
.navbar{
	position: fixed;
	z-index: 10;
	top: 0%;
	backdrop-filter: blur(10px);
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-auto-columns: 3rem, auto;
	justify-content: space-between;
	align-items: center;
	
}

.navbar_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 3rem;
}

.btn{
	background-color: #43A047;
}


.forbutton{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
    outline: 0;
    background-color: #43A047;
	text-decoration: none;
	padding: 0.7rem;
	color: white;
    transition:all 0.3 ease;
	
}
.forbutton:hover{
	background-color: #7e30e1;
}
.forbutton:active{
		background-color: #43A047;
}

.navbtn{
	background-color: transparent;
	font-weight: 900;
}