<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Add User Page</title>
	<link href="css/style4.css" rel="stylesheet">"
</head>

<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/">Navigate to Home</a>
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/applicationform"
				th:object="${ApplicationRequest}">
				<div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
					<br>
				</div>
				<div th:if="${successmessage}">
					<span th:text="${successmessage}" style="color:darkgreen;"></span>
					<br>
					<span style="color: black;">Your Application Number : </span>
					<span th:text="${id}" style="color: black;"></span>
					<br>
				</div>
				<br>
				<div class="input-container">
					<lable>Name </lable>
					<input type="text" name="name" placeholder="Name" required>
				</div>
				<div class="input-container">
					<lable>Parent Name </lable>
					<input type="text" name="parent_name" placeholder="Parent Name">
				</div>
				<div class="input-container">
					<lable>Date Of Birth</lable>
					<input type="date" name="dob" placeholder="Date Of Birth" required>
				</div>
				<div class="input-container">
					<lable>Gender</lable>
					<select name="gender" required>
						<option value="Gender" disabled selected></option>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="input-container">
					<lable>Course</lable>
					<select name="course" required>
						<option value="Cousre" disabled selected></option>
						<option value="BE-ECE">BE-ECE</option>
						<option value="BE-EEE">BE-EEE</option>
						<option value="BE-CSC">BE-CSC</option>
						<option value="BE-MECH">BE-MECH</option>
					</select>
				</div>
				<div class="input-container">
					<lable>Contact No</lable>
					<input type="text" name="contact_no" placeholder="Contact No" required pattern="^[6-9]\d{9}$" title="Please enter a 10-digit number starting with 6 or above.">
				</div>
				<div class="input-container">
					<lable>Address</lable>
					<input type="text" name="address" placeholder="Address">
				</div>
				<div class="input-container">
					<lable>Email</lable>
					<input type="email" name="emailid" placeholder="Email Id" required>
				</div>
				<div class="input-container">
					<lable>SSLC School Name</lable>
					<input type="text" name="sslc_school_name" placeholder="SSLC School Name" >
				</div>
				<div class="input-container">
					<lable>SSLC Mark</lable>
					<input type="number" name="sslc_mark" placeholder="In %" >
				</div>
				<div class="input-container">
					<lable>HSC School Name</lable>
					<input type="text" name="hsc_school_name" placeholder="If Completed">
				</div>
				<div class="input-container">
					<lable>HSC MarK</lable>
					<input type="number" name="hsc_mark" placeholder="In %">
				</div>
				<div class="input-container">
					<lable>Diplomo University Name</lable>
					<input type="text" name="diplomo_college_name" placeholder="If Completed">
				</div>
				<div class="input-container">
					<lable>Diplomo Mark</lable>
					<input type="number" name="diplomo_mark" placeholder="In %">
				</div>
				<input class="forbutton btn" type="submit" name="sign-in" value="Apply">
			</form>
		</div>
	</div>
	<script>
		document.getElementById('total_fees').addEventListener('change', function () {
			var selectedValue = this.value;
			document.getElementById('penting_fees').value = selectedValue;
		});
	</script>
</body>

</html>