<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Get Personal ID </title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			 <a class="forbutton navbtn" href="/">Navigate to Home</a>
			 						<a class="forbutton navbtn" href="/login">Menu</a>
			<a href="/adduser" class="forbutton navbtn">Add User</a>
			<a href="/askpidfordelete" class="forbutton navbtn">Delete User</a>
			<a href="/showall" class="forbutton navbtn">All User Details</a>			
						 <a class="forbutton navbtn" href="/logout">LogOut</a> 
 
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			
			<form method="post" autocomplete="off" class="login-form" action="/askid" th:object="${editRequest}" onsubmit="return validateInput()">
				 <h2>For Edit User Details</h2>
				 <input class="form_input" type="number" property="none" name="personalid" placeholder="Personal Id" required id="inputNumber">
				 <input class="forbutton btn"  type="submit" value="Check ID">
				 <div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				 </div>
				<div th:if="${successmessage}">
					<span th:text="${successmessage}" style="color:green;"></span>
				</div>
			</form>
		</div>
	</div>	
<script>
  function validateInput() {
    var number = Number(document.getElementById("inputNumber").value);
    if (number <= 0 || number > 922337203685477) {
      alert("Invalid Reg No");
      return false; 
    }
    return true;
  }
</script>
	
	</body>
</html>