<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Delete User Data</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
		<nav class="navbar">
		<div class="navbar-container">
			 <a class="forbutton navbtn" href="/">Navigate to Home</a>
						<a class="forbutton navbtn" href="/login">Menu</a>
			 <a href="/adduser" class="forbutton navbtn">Add User</a>
			<a href="/askid" class="forbutton navbtn">Edit User</a>
			<a href="/showall" class="forbutton navbtn">All User Details</a>
						 <a class="forbutton navbtn" href="/logout">LogOut</a> 
		</div>
	</nav>
	<div class="login-page">
	<div class="form">
	<form method="post" autocomplete="off" class="login-form" action="/deleteuser" >
		<div style="background-color: #f2f2f2;padding: 1rem 2rem ; text-align:start; overflow:auto;;">
		<p>Personal Id : <span th:text="${getpid}"></span></p>
		<input type="hidden" name="personalid" th:value="${getpid}">
			<p>User Name : <span th:text="${getuname}"></span></p>
			<p>Password  : <span th:text="${getpassword}"></span></p>
			<p>Access : <span th:text="${getaccess}"></span></p></div><br>
      <input class="forbutton btn" type="submit" value="Delete">
      <div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				</div>
  </form></div>
</div>
</body>
</html>