<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Edit User Details</title>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/">Navigate to Home</a>
						<a class="forbutton navbtn" href="/login">Menu</a>
			<a href="/adduser" class="forbutton navbtn">Add User</a>
			<a href="/askpidfordelete" class="forbutton navbtn">Delete User</a>
			<a href="/showall" class="forbutton navbtn">All User Details</a>
						 <a class="forbutton navbtn" href="/logout">LogOut</a> 
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/updateuser">
				<h3>Personal Id : <span th:text="${ad.personalid}"></span></h3>
				<input type="hidden" name="personalid" th:value="${ad.personalid}" >
				<input type="text" name="username" placeholder="User name" th:value="${ad.username}" required
					maxlength="150">
				<input type="text" name="password" placeholder="password" th:value="${ad.password}"
					pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
					title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
					required maxlength="100">
				<select name="access" required  th:field="${ad.access}">
					<option value="" disabled selected>Access</option>
					<option value="Staff">Staff</option>
					<option value="adm">Admission Team</option>
					<option value="acc">Account Team</option>
					<option value="admin">Admin</option>
				</select>
				<input class="forbutton btn" type="submit" value="Update user">
				<div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				</div>
				<div th:if="${succsessmessage}">
					<span th:text="${succsessmessage}" style="color:darkgreen;"></span>
				</div>
			</form>
		</div>
	</div>			
				
</body>

</html>