<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Error Page</title>
	<link href="css/style1.css" rel="stylesheet">
</head>
<body>
	 <div class="main_container">
      <nav class="navbar">
        <h1 class="heading">Page Not Found</h1>
        <div class="navbar_container">
         <a class="forbutton navbtn" href="/">Navigate to Home</a>
			 <a class="forbutton navbtn" href="/login">Log In</a>
       	     <a class="forbutton navbtn" href="/studentlogin">Student Log In</a>
        </div>
      </nav>
      </div>
</body>
</html> 