<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Asking Application Number Page</title>
	<link href="css/style.css" rel="stylesheet">"
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/">Navigate to Home</a>
			<a href="/showallapplications" class="forbutton navbtn">See Application</a>
			<a href="/admitnewstudent" class="forbutton navbtn">Admit New Entry</a>
			<a class="forbutton navbtn" href="/logoutadm">LogOut</a>
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/admitthrowapplication" th:object="${checkregnoifrequest}">
				 <h2>For Check Application Number </h2>
				 <input class="form_input" type="number" property="none" name="aid" placeholder="Application No" required>
				 <input class="forbutton btn"  type="submit" name="Check Reg No" value="Check Application No">
				 <div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				 </div>
				<div th:if="${successmessage}">
					<span th:text="${successmessage}" style="color:green;"></span>
				</div>
			</form>
		</div>
	</div>
	</body>
</html>