<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Get Reg No For Fees</title>
	<link href="css/style.css" rel="stylesheet">"
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			 <a class="forbutton navbtn" href="/">Navigate to Home</a>
			 			<a href="/acclogin" class="forbutton navbtn">Menu</a>		
			 <a href="/accounthistory" class="forbutton navbtn">History</a>
			 			 <a class="forbutton navbtn" href="/logoutacc">LogOut</a> 

		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/get_regno_forfees" onsubmit="return Checknumber()">
				 <h2>For Pay Fees</h2>
				 <input class="form_input" type="number" property="none" name="regno" placeholder="Reg No" required  id="input">
				 <input class="forbutton btn"  type="submit" value="check reg no">
				 <div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				 </div>
				<div th:if="${successmessage}">
					<span th:text="${successmessage}" style="color:green;"></span>
				</div>
			</form>
		</div>
	</div>
	<script>
		function Checknumber(){
			var i=document.getElementById("input").value;
			if(Number(i)>922337203685477 || Number(i)<=0){
				alert("Invalid Reg No");
				return false;
			}
			else{
				return true;
			}
		}
	</script>
	</body>
</html>