<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login Page</title>
	<link href="css/style.css" rel="stylesheet">"
</head>
<body>
		<nav class="navbar">
		<div class="navbar-container">
			 <a class="forbutton navbtn" href="/">Navigate to Home</a> 
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/login" th:object="${loginRequest}" onsubmit="return validateInput()">
				<h2 >Login</h2>
				<input type="number" name="personalid" placeholder="Personal Id" required id="inputNumber" >
				<input type="password" name="password" placeholder="Password" required id="passwordInput" maxlength="150" >
				<input class="forbutton btn" type="submit" value="Login">
				<div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				</div>			
			</form>
		</div>
	</div>
	<script>
  function validateInput() {
    var number = Number(document.getElementById("inputNumber").value);
    if (number < 0 || number > 2147483646) {
      alert("Invalid Personal ID");
      return false; // Prevent form submission
    }
    return true; // Allow form submission
  }
  function showpassword() {
      const passwordInput = document.getElementById("passwordInput");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
</script>
	</body>
</html>