<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>All Student Detail Page</title>
	<link href="css/style.css" rel="stylesheet">
		<style>
		body{
			position: absolute;
		}
		table{
			position: relative;
			top: 30%;
			border-collapse: collapse;
			width: 50%;
			
		}
		th,td{
			padding: 8px;
			text-align: start;
			border: 1px solid grey;
		}
		thead tr th {
			color: floralwhite;
		}
		tbody tr{
			background-color: #f5f5f5;
		}
		tbody tr:hover{
			background-color: rgb(219, 208, 219);
			color: ghostwhite;
		}
		th{
			background-color: #4caf50;
		}
		tfoot{
			background-color: #40524a;
			color:white;
		}
	</style>
</head>
<body >
		<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/writereview">Write a Review</a>
			<a class="forbutton navbtn" href="/">Navigate to Home</a>
			</div>
	</nav>
		<table style="width: 80%;">
              <!--action="/showallapplications"  th:object="${ShowallStudent}"-->
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Star</th>
					<th scope="col">Message</th>
					<!--
					<th scope="col">Remove</th>-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="ud:${Alreview}">
					<td th:text="${ud.name}"></td>
					<td th:text="${ud.star}"></td>
					<td th:text="${ud.message}"></td>
					</tr>
					
			</tbody>
		</table>
</body>
</html>