<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Particular Student Details</title>
	<link href="css/style4.css" rel="stylesheet">
	<style> 
		.grid_container{
			display: grid ;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: minmax(2rem, auto);
			grid-auto-columns: minmax(3rem, auto);
			border: 1px solid greenyellow;
			padding: 0.5rem;
		}
		h1{
			text-align: left;
		}
		p{
			font-weight: 900;
			text-align: left;
		}
	</style>
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/logout">Log Out</a>
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
		<form method="post" autocomplete="off" class="login-form" >
		<div class="grid_container">
			<p>Reg No :</p>
			<p th:text="${studentDetails.regno}"></p>
			<p>Name : </p>
			<p th:text="${studentDetails.name}"></p>
			<p>Date Of Birth : </p>
			<p th:text="${studentDetails.dob}"></p>
			<p>Gender : </p>
			<p th:text="${studentDetails.gender}"></p>
			<p>Course : </p>
			<p th:text="${studentDetails.course}"></p>	
			<p>Total Fees : </p>
			<p th:text="${studentDetails.total_fees}"></p>	
			<p>Paid Fees : </p>
			<p th:text="${studentDetails.paid_fees}"></p>	
			<p>Pending Fees : </p>
			<p th:text="${studentDetails.pending_fees}"></p>	
			<p>Contact No : </p>
			<p th:text="${studentDetails.contact_no}"></p>	
			<p>Address : </p>
			<p th:text="${studentDetails.address}"></p>	
		</div>
		
		
		
			<div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>