<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Write Review Page</title>
	<link href="css/style4.css" rel="stylesheet">"
</head>
<style>
	span {
		color: red;
	}
</style>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a class="forbutton navbtn" href="/">Navigate to Home</a>
			<a class="forbutton navbtn" href="/allreviews">See All Reviews</a>
		</div>
	</nav>
	<div class="login-page">
		<div class="form">
			<form method="post" autocomplete="off" class="login-form" action="/writereview"
				th:object="${wrireReviewreq}" onsubmit="return compareDates()">
				<div th:if="${errorMessage}">
					<span th:text="${errorMessage}" style="color: red;"></span>
				</div>
				<div th:if="${succsessmessage}">
					<span th:text="${succsessmessage}" style="color:darkgreen;"></span>
				</div><br>
				<div class="input-container">
					<lable><span>* </span>Star</lable>
					<select name="star" required>
						<option value="" disabled selected></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div class="input-container">
					<lable><span>* </span>Name </lable>
					</label> <input type="text" name="name" placeholder="Name" required maxlength="100" id="Namee">
				</div>
				<div class="input-container">
					<lable><span>* </span>Email Id</lable>
					</label> <input type="email"name="emailid" placeholder="Email Id" required maxlength="100" id="EmailId">
				</div>
				<div class="input-container">
					<lable><span>&nbsp;&nbsp;</span>Write Your Experience</lable>
					<input type="text" name="message" placeholder="" maxlength="250">
				</div>
									<p style="color: red;">* Mandatory Details</p>
				<input class="forbutton btn" type="submit" name="sign-in" value="Submit Review">
			</form>
		</div>
	</div>
	<script>
		
		function validateEmail(email) {
          let regex = /^[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
          if (regex.test(email)) {
              console.log("valid");
              return true;
          } 
          else {
              console.log("invalid");
              return false;
         }
       }
		
		
		
		function Stringcheck(name) {
			var specialCharacterPattern = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/;
			var containsSpecialCharacter = specialCharacterPattern.test(name);
			 var numberPattern = /\d/
			 var containsNumber = numberPattern.test(name);
			     return containsSpecialCharacter || containsNumber;
		}		
		function compareDates() {
			var em = document.getElementById("EmailId")
			var Name = document.getElementById("Namee")
			if (!validateEmail(em.value)) {
				console.log(validateEmail(em.value));
				alert("Mail Id is Not valid");
				return false;
			}
			if (Stringcheck(Name.value)) {
				alert("Name Should be albhapets Only");
				return false;
			}
			return true
		}
	</script>
</body>
</html>